body {
    background-color: lightgreen;
  }

header{
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
  

button {
  border: none;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
  background-image:url(american.jpg);
  background-size: 110%, 100%;
  color: black; 
  border: 1px solid black;
  position: relative;
  width: 150px;
  height: 250px;
  
  
  }

.button2 {
  background-image:url(chinese.jpg); 
  background-size: 120%, 100%;
  color: black; 
  border: 1px solid black;;
  position: relative;
  width: 150px;
  height: 250px;
  
  }

.button3 {
  background-image:url(Indian.jpg); 
  background-size: 113%, 100%;
  color: black; 
  border: 1px solid black;;
  position: relative;
  width: 150px;
  height: 250px;
  
}

.button1:hover {
  background-color: greenyellow;
  color: white;
  font-size: 21px;
  }

.button2:hover {
  background-color: greenyellow;
  color: white;
  font-size: 22px;

  }

.button3:hover {
  background-color: greenyellow;
  color: white;
  font-size: 22px;
  }
