body {
  background-color: lightgreen;
}

h1 {
  text-align: center;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black; 
  border: 1px solid black;
  
}

.button1 {
  background-image:url(Granola.jpg);
  background-size: 103%, 100%;
  font-weight: 600;
  position: relative;
  height: 250px;
  width: 150px;
  
  }

.button2 {
  background-image:url(Club-sandwich.jpg); 
  background-size: 110%, 100%;
  position: relative;
  font-weight: 600;
  height: 250px;
  width: 150px;
  
  } 

.button3 {
  background-image:url(Pasta-funghi.jpg); 
  background-size: 113%, 100%;
  position: relative;
  font-weight: 600;
  width: 150px;
  height: 250px;
  
  }

.button4 { 
  background-color: greenyellow; 
  color: black; 
  border: 1px solid black;
  position: relative;
  width: 220px;
  height: 250px;
  right: 0.7%;
  
  }

.button5 {
  background-color: greenyellow; 
  color: black;
  border: 1px solid black;
  position: relative;
  width: 220px;
  height: 250px;
  left: 0.7%;
}

.button6 {
  background-color: greenyellow; 
  color: black;
  border: 1px solid black;;
  position: relative;
  width: 467px;
  height: 100px;

}
.button7 {
  background-color: greenyellow; 
  color: black;
  border: 1px solid black;;
  position: relative;
  width: 467px;
  height: 100px;
  
  }
  
.button1:hover {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  }

.button2:hover {
  background-color: greenyellow;
  color: white;
  font-size: 25px;

  }

.button3:hover {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  }

.button4:hover {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  }

.button5:hover {
  background-color: greenyellow;
  color: white;
  font-size: 25px;
  
  }

.button6:hover {
  background-color: greenyellow;
  color: white;
  font-size: 27px;
  }

.button7:hover {
  background-color: greenyellow;
  color: white;
  font-size: 27px;
  }