body {
  background-color: lightgreen;
}


header {
  text-align: center;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 25px;
}

h1 {
  text-align: center;
}

button{
  border: none;
  padding: 13px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.541);
  width: 163px;
  height: 80px;
}

.button:hover {
  border: 3px solid rgba(0, 0, 0, 0.836);
}