body {
    background-color: lightgreen;
  }

header{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

h2 {
  position: absolute;
  left: 36%;
  right: 36%;
  width: 28%;
}

h3 {
  

}

fieldset {
  background-color: greenyellow; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  border: 1px solid black;;
  position: relative;
  height: 400px;
  
}

button {
  background-color: greenyellow; 
  color: black;
  border: 1px solid black;;
  position: relative;
  height: 70px;
  width: 160px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  font-size: 17px;
}